
$font: 'Spartan',
sans-serif;

$fwLight: 300;
$fwMedium: 500;
$fwBold: 700;

$mainColor: linear-gradient(to top, #37ec64 0%, #72afd3 100%);
;
$altColor:linear-gradient(180deg, #2af598 0%, #009efd 100%);
$lightColor: #fff;

$transitionFast: 0.2s;
$transitionSlow: 1s;


$gutter: 0.8rem;
